<div class="admin-container">
  <!-- Sidebar (Header bên trái) -->
  <div class="sidebar">
    <div class="logo">
      <img src="https://cache.clinic.co/assets/img/logo.png" alt="Logo-Admin">
    </div>
    <nav class="menu">
      <ul>
        <li><a routerLink="/admin/home" routerLinkActive="active">Trang chủ</a></li>
        <li><a routerLink="/admin/users" routerLinkActive="active">Người dùng</a></li>
        <li><a routerLink="/admin/services" routerLinkActive="active">Dịch vụ</a></li>
        <li><a routerLink="/admin/medicines" routerLinkActive="active">Kho thuốc</a></li>
        <li><a routerLink="/admin/medical-records" routerLinkActive="active">Hồ sơ bệnh án</a></li>
      </ul>
    </nav>
    <div class="back-to-home">
      <a href="/home">Back to home</a>
    </div>
  </div>
</div>
