<div class="login-container">
  <h2>Đăng ký</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Tài khoản</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
        #usernameInput="ngModel"
      />
      <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error-message">
        Tên tài khoản là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        #passwordInput="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="password">Nhập lại mật khẩu</label>
      <input
        type="password"
        id="password_2"
        name="password_2"
        [(ngModel)]="password_2"
        required
        #passwordInput="ngModel"
      />
      <div *ngIf="msgError" class="error-message">
        Thông báo: {{ msgError }}
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid">Xác nhận</button>
  </form>
</div>
