<ng-container *ngIf="!isLoginPage(); else loginPage">
  <ng-container *ngIf="isAdmin(); else userHeader">
    <div class="layout">
      <app-sidebar></app-sidebar>
      <!-- Nội dung chính -->
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
  <ng-template #userHeader>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </ng-template>
</ng-container>
<ng-template #loginPage>
  <router-outlet></router-outlet>
</ng-template>
<!-- <ng-container *ngIf="!isLoginPage()">
  <app-footer></app-footer>
</ng-container> -->
