<header class="header">
  <div class="logo">
    <div>
      <img src="https://cache.clinic.co/assets/img/logo.png" alt="logo-"/>
    </div>
  </div>
  <nav class="nav">
    <ul>
      <li *ngFor="let header of headers">
        <a [routerLink]="header.url"
           (click)="onClickLogout(header, $event)"
           [class.active]="isActive(header.url)">
          {{ header.name }}
          <span *ngIf="header.name === 'Thông báo'" class="notification-badge">5</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
