<div class="user-management">
  <h2>Quản lý Người dùng</h2>

  <!-- Thanh tìm kiếm -->
  <div class="search-container">
    <input class="search-input" type="text" [(ngModel)]="searchName" placeholder="Tìm theo tài khoản..." />
    <input class="search-input"
      type="text"
      [(ngModel)]="searchEmail"
      placeholder="Tìm theo email..."
    />
    <select class="search-input" [(ngModel)]="searchRole">
      <option value="">Tất cả quyền</option>
      <option value="admin">Admin</option>
      <option value="doctor">Doctor</option>
      <option value="patient">Patient</option>
    </select>
  </div>

  <button class="add-user-btn" (click)="openModal('add')">Thêm User</button>
  <a style="text-decoration: none; font-size: 14px;" href="/admin/doctors" class="add-user-btn">Quản lý bác sỹ</a>

  <!-- Bảng danh sách User -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Tài khoản</th>
        <th>Tên</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Quyền</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers()">
        <td class="td-list-fromat">{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phonenumber }}</td>
        <td class="td-list-fromat">{{ user.role }}</td>
        <td class="td-list-fromat">
          <button (click)="openModal('edit', user)">Sửa</button>
          <button (click)="openModal('delete', user)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Phân trang -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">❮</button>
    <span>Trang {{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      ❯
    </button>
  </div>

  <!-- Chọn số user / trang -->
  <div class="page-size-selector">
    <label>Hiển thị: {{ totalUser }} / </label>
    <select (change)="setPageSize($event)">
      <option value="10">10 user</option>
      <option value="20">20 user</option>
      <option value="30">30 user</option>
    </select>
  </div>

  <!-- Popup (Modal) -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h3 *ngIf="modalType === 'add'">Thêm User</h3>
      <h3 *ngIf="modalType === 'edit'">Sửa User</h3>
      <h3 *ngIf="modalType === 'delete'">Xóa User</h3>

      <form
        class="form-popup bg-white p-6 rounded-lg shadow-lg w-96 space-y-4"
        *ngIf="modalType !== 'delete'"
      >
        <!-- Tên -->
        <div class="form-group">
          <label class="form-label">Tên:</label>
          <input
            type="text"
            name="name"
            [(ngModel)]="selectedUser.name"
            required
            class="form-input"
          />
        </div>

        <!-- Email -->
        <div class="form-group">
          <label class="form-label">Email:</label>
          <input
            type="email"
            name="email"
            [(ngModel)]="selectedUser.email"
            required
            class="form-input"
          />
        </div>

        <!-- Quyền -->
        <div class="form-group">
          <label class="form-label">Quyền:</label>
          <select name="role" [(ngModel)]="selectedUser.role">
            <option value="admin">Admin</option>
            <option value="doctor">Doctor</option>
            <option value="patient">Patient</option>
          </select>
        </div>
      </form>

      <p *ngIf="modalType === 'delete'">
        Bạn có chắc chắn muốn xóa <strong>{{ selectedUser.name }}</strong
        >?
      </p>

      <!-- Nút hành động -->
      <div class="modal-actions">
        <button
          class="btn-submit"
          *ngIf="modalType === 'add'"
          (click)="addUser()"
        >
          Thêm
        </button>
        <button
          class="btn-submit"
          *ngIf="modalType === 'edit'"
          (click)="updateUser()"
        >
          Lưu
        </button>
        <button
          class="btn-delete"
          *ngIf="modalType === 'delete'"
          (click)="deleteUser()"
        >
          Xóa
        </button>
        <button class="close-btn" (click)="closeModal()">Hủy</button>
      </div>
    </div>
  </div>
</div>
